@charset "UTF-8";
/* line 1, ../../../../../Desktop/Гилель/Урок 18 дз/scss/style.scss */
* {
  box-sizing: border-box;
  margin: 0;
}

/* line 7, ../../../../../Desktop/Гилель/Урок 18 дз/scss/style.scss */
.box {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

/* line 11, ../../../../../Desktop/Гилель/Урок 18 дз/scss/style.scss */
.box-one {
  display: flex;
  border: 2px solid red;
  height: 30vh;
}

/* line 16, ../../../../../Desktop/Гилель/Урок 18 дз/scss/style.scss */
.box-one-first {
  border: 2px solid blue;
  display: flex;
  width: 50%;
  flex-wrap: wrap;
}

/* line 21, ../../../../../Desktop/Гилель/Урок 18 дз/scss/style.scss */
.box-one-first div {
  border: 2px solid green;
  width: 100%;
}

/* line 27, ../../../../../Desktop/Гилель/Урок 18 дз/scss/style.scss */
.box-one-second {
  border: 2px solid blue;
  display: flex;
  width: 50%;
}

/* line 31, ../../../../../Desktop/Гилель/Урок 18 дз/scss/style.scss */
.box-one-second div {
  border: 2px solid green;
  width: 100%;
}

/* line 37, ../../../../../Desktop/Гилель/Урок 18 дз/scss/style.scss */
.box-two {
  display: flex;
  border: 2px solid red;
  flex-direction: column;
  height: 30vh;
  row-gap: 1px;
}

/* line 43, ../../../../../Desktop/Гилель/Урок 18 дз/scss/style.scss */
.box-two div {
  border: 2px solid blue;
  height: 6vh;
}

/* line 47, ../../../../../Desktop/Гилель/Урок 18 дз/scss/style.scss */
.box-two :first-child {
  flex-grow: 1;
}

/* line 51, ../../../../../Desktop/Гилель/Урок 18 дз/scss/style.scss */
.box-three {
  display: flex;
  border: 2px solid red;
  height: 30vh;
}

/* line 55, ../../../../../Desktop/Гилель/Урок 18 дз/scss/style.scss */
.box-three div {
  border: 2px solid purple;
  width: 11%;
}

/* line 58, ../../../../../Desktop/Гилель/Урок 18 дз/scss/style.scss */
.box-three div:nth-child(2) {
  flex-grow: 3;
}

@media (min-width: 768px) {
  /* line 66, ../../../../../Desktop/Гилель/Урок 18 дз/scss/style.scss */
  .box {
    padding: 20px;
  }
  /* line 69, ../../../../../Desktop/Гилель/Урок 18 дз/scss/style.scss */
  .box-one {
    flex-wrap: wrap;
  }
  /* line 71, ../../../../../Desktop/Гилель/Урок 18 дз/scss/style.scss */
  .box-one-first {
    flex-wrap: nowrap;
    width: 100%;
  }
  /* line 74, ../../../../../Desktop/Гилель/Урок 18 дз/scss/style.scss */
  .box-one-first :last-child {
    flex-shrink: 3;
  }
  /* line 78, ../../../../../Desktop/Гилель/Урок 18 дз/scss/style.scss */
  .box-one-second {
    width: 100%;
  }
  /* line 80, ../../../../../Desktop/Гилель/Урок 18 дз/scss/style.scss */
  .box-one-second :first-child {
    flex-shrink: 3;
  }
  /* line 85, ../../../../../Desktop/Гилель/Урок 18 дз/scss/style.scss */
  .box-two {
    flex-direction: row;
    column-gap: 10px;
    padding: 20px;
    align-items: center;
  }
  /* line 90, ../../../../../Desktop/Гилель/Урок 18 дз/scss/style.scss */
  .box-two div {
    width: 30%;
    height: 100%;
  }
  /* line 94, ../../../../../Desktop/Гилель/Урок 18 дз/scss/style.scss */
  .box-two :not(:first-child) {
    height: 90%;
  }
  /* line 99, ../../../../../Desktop/Гилель/Урок 18 дз/scss/style.scss */
  .box-three {
    flex-direction: column;
  }
  /* line 101, ../../../../../Desktop/Гилель/Урок 18 дз/scss/style.scss */
  .box-three div {
    width: 100%;
    height: 20%;
  }
}

@media (min-width: 1024px) {
  /* line 109, ../../../../../Desktop/Гилель/Урок 18 дз/scss/style.scss */
  .box {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px;
  }
  /* line 113, ../../../../../Desktop/Гилель/Урок 18 дз/scss/style.scss */
  .box-one {
    flex-wrap: nowrap;
    width: 100%;
    height: 30vh;
  }
  /* line 117, ../../../../../Desktop/Гилель/Урок 18 дз/scss/style.scss */
  .box-one-first :last-child {
    flex-shrink: 1;
  }
  /* line 120, ../../../../../Desktop/Гилель/Урок 18 дз/scss/style.scss */
  .box-one-second :first-child {
    flex-shrink: 1;
  }
  /* line 124, ../../../../../Desktop/Гилель/Урок 18 дз/scss/style.scss */
  .box-two {
    width: 50%;
    flex-direction: column;
    padding: 0;
    height: 45vh;
  }
  /* line 129, ../../../../../Desktop/Гилель/Урок 18 дз/scss/style.scss */
  .box-two div {
    width: 100%;
  }
  /* line 133, ../../../../../Desktop/Гилель/Урок 18 дз/scss/style.scss */
  .box-three {
    width: 50%;
    flex-direction: row;
    height: 45vh;
  }
  /* line 137, ../../../../../Desktop/Гилель/Урок 18 дз/scss/style.scss */
  .box-three div {
    height: 100%;
  }
}

/*# sourceMappingURL=style.css.map */