h1 {
    color: red;
    font-size: 44px;
}

@media (min-width: 800px) {
    body {
        background-color: bisque;
    }
    h1 {
        color: aqua;
    }
    
}

@media (min-width: 1200px) {
    body {
        background-color: pink;
    }
    h1 {
        color: yellow;
        font-size: 50px;
    }
    
}